<h3 class="filter-title">Filters</h3>
<div class="filter-container">
  <form action="" class="filter-form">
    <div class="form-group">
      <label for="from">From</label>
      <input type="number" value=0 name="from" id="from">
    </div>
    <br/><br/>
    <div class="form-group">
      <label for="to">To</label>
      <input type="number" value=0 name="to" id="to">
    </div>
    <div class="form-group">
      <button class="btn" type="submit">Filter By Price</button>
    </div>
  </form>
  <!-- <div class="filter">
    <div class="all-prods">
      <a (click)="filter('')" class="cat__all">
        <h6>All Products</h6>
      </a>
    </div>
    <div class="fruit">
      <button class="btn cat__fruit">
        <a (click)="filter('meat')" class="">
         
        </a>Meat</button>
    </div>
  </div> -->

</div>