<div class="card">
  <div class="card__image">
    <img [src]="productItem.image_url"  alt="" class="prod-img">
  </div>
  <div class="card__body">
    <p class="card__name">{{productItem.name}}
    </p>
    <p class="card__category">{{ productItem.category }}</p>
    <p class=" card__price price-amt">
      <span class="price">{{ productItem.price | currency: '€ ' }}</span>
      <!-- <span class="quan"> {{ productItem.qty  }}</span> -->
    </p>
    <!-- <span class="category">Fruit</span> -->
    <div class="btn-group">
      <button class="btn view">View</button>
      <button class="btn add-to-cart"
      (click)="handleAddToCart()"
      >Add To Cart</button>
    </div>
  </div>
</div>
